body{
font-family: "Lucida Console", "Courier New", monospace;
font-size: 20px;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('assets/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  color: #181A27;
}

#myTable td{
  font-size: 15px;
}

#myTable .location{
  font-size: 13px;
  line-height: 16px;
  color: #373A4A;
}

th{
  cursor: pointer;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 16px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #ECECF2;
}

@media all and (max-width: 900px) {
    td.location{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}



.filterDiv {
  display: table-row; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: table-row;
  background-color: #EAE4FA;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 4px;
  background-color: #DDE7F6;
  cursor: pointer;
}

.btn:hover {
  background-color: #EAE4FA;
}

.btn.active {
  background-color: #EAE4FA;
  color: white;
}
